@font-face
{	/*nouvelle police nommée Relaway*/
	font-family: 'Raleway';
	src:url('../polices/Raleway-VariableFont_wght.ttf')
}

*
{
	padding: 0;
	margin: 0;
}

#page_end
{
	font-family: 'Raleway';
	width: 100%;
}

h1, h2, h3, h4, p, button
{
	font-family: 'Raleway';
}

p
{
	font-weight: 300;
}

ul
{
	list-style: none;
}

.fas
{
	color: #0065FC;
}

.fa
{
	color: #F2F2F2;
}

header
{
	font-family: 'Raleway';
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

section
{
	padding: 25px; 
}

.logo_reservia
{
	height: fit-content;
}

.logo_reservia_responsive
{
	display: none; 
}

/* menu navigation */
#menu
{
	display: flex;
}

#menu a
{
	padding: 20px;
}

.ancres
{
	display: flex;
	align-items: center;
}

#inscrire
{
	display: flex;
	align-items: center;
}

/* lien du menu de navigation */
a.lien_menu:visited, a.lien_menu:link
{
	color: black;
	font-weight: bold;
	text-decoration: none;
}

a.lien_menu:hover, a.lien_menu:active
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}

a.lien_inscrire:visited, a.lien_inscrire:link
{
	color: #0065FC;
	font-weight: bold;
	text-decoration: none;
}

a.lien_inscrire:hover, a.lien_inscrire:active
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}
.choix
{
	padding: 10px 0 0 0;
	font-weight: 300;
}

.container_recherche
{
	display: flex;
	padding: 20px 0 20px 0;
}

.icone_recherche i
{
	color: black;
}

input
{
	border: 2px solid #F2F2F2;
	outline: none;
	padding: 0 0 0 20px;
}

input::placeholder
{
	color: black;
	font-weight: 700;
	font-size: 1.1em;
}

/* icone map*/
.icone_recherche
{
	border: 1px solid #F2F2F2;
	border-width: 15px;  
	background-color: #F2F2F2;
	border-radius: 10px 0 0 10px;
	align-self: center;
	color: black;
}
/* bouton recherche */
.bouton_recherche
{
	border:none;
	outline: none;
	align-items: center;
	background-color: #0065FC;
	border-radius: 0 10px 10px 0;
	color: white;
	padding: 0 6px 0 6px;
}

.icon_loupe
{
	color: white;
	display: none;
}

.bouton_recherche:hover
{
	background-color: blue;
}

.bouton_recherche:active
{
	background-color: #0065FC; 
}
/* container des filtres */
.container
{
	display: flex;
	align-items: center;
	outline: none;
	padding-bottom: 20px;
}
.container_filtre
{
	display: flex;
	justify-content: center;
	align-content: center;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	margin: 10px;
	transition: .2s;
}
.icone_filtre
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;	
}

.bouton_filtre
{
	background-color: white;
	border-radius: 30px 30px 30px 30px; 
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	outline: none;
	font-weight: bold;
}

.container_filtre:hover
{
	transform: scale(1.1);
}

.bouton_filtre:active
{
	color: #0065FC;
}

/* icone info reste de logements */
.container_info
{
	display: flex;
	align-items: center;
}

.icone_info
{
	display: flex;
	color: #0065FC;
	border-radius: 50%;
	border: 2px solid #F2F2F2;
	width: 10px;
	padding: 3px;
	margin: 0 10px 0 0;
	align-content: center;
	justify-content: center;
}

/* hebergements à marseille */
#liste_hebergements
{
	display: flex;
	justify-content: space-between; 
}

.hebergements
{
	width: 61%;
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 10px; 
}

#hebergements_titre
{
	padding: 30px 0 0 40px;
}

.container_hebergements
{
	display: flex;
	flex-wrap:wrap;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.carte_hotel
{
	display: flex;
	flex-wrap: wrap;
	width: 27%;
	padding: 3px;
	margin: 20px; 
	border-radius: 20px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	background-color: white;
	transition: transform .2s;
}

.carte_hotel:hover
{
	transform: scale(1.2);
}
.hebergements_marseille
{
	width: 100%;
	height: 100px;
	background-position: center;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

.hebergements_cannebiere
{
	background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}

.hebergements_port
{

	background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');

}

.hebergements_mouettes
{
	background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}

.hebergements_mer
{
	background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}

.hebergements_panier
{
	background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}

.hebergements_amina
{
	background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}

.hebergements_info
{
	margin: 10px;
}

.afficher_plus
{
	width: 13%;
	flex-direction: inherit;
	align-items: center;
	margin: 10px 0 20px 30px;
	font-weight: bold;
	font-size: 15px;
	border: none;
	outline: none;
	transition: transform .2s;
}

.afficher_plus:hover
{
	transform: scale(1.2);
}

.afficher_plus:active
{
	color: #0065FC;
}

#liste_populaires
{
	display: flex;
	width: 36%;
}

.plus_populaires
{
	width: 100%;
	height: 100%;
	justify-content: space-around;
	background-color: #F2F2F2;
	border-radius: 10px;
}

.icone_titre
{
	display: flex;
	margin: 20px;
	padding: 10px 30px 0 30px;
	justify-content: space-between;
}
.fa-chart-line
{
	color: black;
}

.contenu_populaires
{
	display: flex;
	margin: 0 50px 50px 40px;
	padding: 3px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
}

.hebergements_populaires i
{
	padding-top: 20px;
}
.image_populaire
{
	width: 30%;
	height: 100px;
	background-size: cover;
	background-position: center;
	margin-right: 20px;
	border-top-left-radius: 20px; 
	border-bottom-left-radius: 20px;
}

.matin_populaires
{
	background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

.hotes_populaires
{
	background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

.blanc_populaires
{
	background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

.contenu_populaires:hover
{
	transform: scale(1.2);
}

.liste_activites
{
	display: flex;
	flex-wrap: wrap;
}
.activites
{
	padding: 0 0 60px 0;
}

#activites_titre
{
	padding: 50px 0 20px 0;
}

.container_activites
{
	display: flex;
	width: 100%;
	align-items: center;
}

.carte_activites
{
	display: flex;
	width: 50%;
	padding: 0 40px 0 0;
}

.ensemble_activites
{
	display: flex;
	flex-direction: column;
	width: 50%;
}

.nom_activites
{
	padding: 10px 0 10px 10px;
}

.activites_port
{
	display: flex;
	flex-direction: column;
	margin: 0 40px 0 0;
	width: 50%;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
}

.vieux_port
{
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;
}

.activites_port:hover
{
	transform: scale(1.2);
}

.activites_pomegues
{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
	margin: 0 0 40px 0;
}

.pomegues
{
	width: 100%;
	height: 170px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;
}

.activites_pomegues:hover
{
	transform: scale(1.2);
}

.activites_frioul
{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
}

.frioul
{
	width: 100%;
	height: 130px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;
}

.activites_frioul:hover
{
	transform: scale(1.2);
}

.carte_activites_2
{
	display: flex;
	width: 50%;
}

.activites_calanques
{
	display: flex;
	flex-direction: column;
	margin: 0 40px 0px 0;
	width: 50%;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
}

.calanques
{	
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;
}

.activites_calanques:hover
{
	transform: scale(1.2);
}

.activites_la_garde
{
	
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
	margin: 0 0 40px 0;
}

.la_garde
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;

}

.activites_la_garde:hover
{
	transform: scale(1.2);
}

.activites_longchamp
{
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
	border-radius: 20px;
}

.longchamp
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
	border-radius: 20px 20px 0 0;
	transition: transform .2s;
}

.activites_longchamp:hover
{
	transform: scale(1.2);
}

.container_footer
{
	display: flex;
	background-color: #F2F2F2;
	padding: 30px 0 20px 30px;
}

.container_footer h3, li
{
	padding: 0 0 10px 0;
}

#a_propos
{
	display: flex;
	width: 34%;
	flex-direction: column;
}

#nos_hebergements
{
	display: flex;
	width: 34%;
	flex-direction: column;	
}

#assistance
{
	display: flex;
	width: 34%;
	flex-direction: column;
}

/* lien bas de page */
a.foot:visited, a.foot:link
{
	text-decoration: none;
	color: black;
}
/* survol de la souris sur le lien */
a.foot:hover, a.foot:active
{
	color: #0065FC;
}

@media (max-width: 1300px)
{

	#liste_hebergements
	{
		flex-direction: column-reverse;
	}

	.hebergements
	{
		width: 100%;
		display: flex;
	}

	#hebergements_titre
	{
		padding: 30px 0 0 60px;
	}

	#liste_populaires
	{
		width: 100%;
		padding: 0 0 30px 0;
	}

	.icone_titre
	{
		padding: 10px 30px 0 30px;
		margin: 20px 0 0 0;
	}

	.container_populaires
	{
		display: flex;
		justify-content: center;
	}

	.contenu_populaires
	{
		display: unset;
		width: 50%;
		margin: 2%; 
	}

	.image_populaire
	{
		width: 100%;
		height: 100px;
		background-position: center;
		background-size: cover;
		border-radius: 20px 20px 0 0;
		margin: 0;
	}

	.hebergements_populaires
	{
		margin: 2%;
	}

}

@media (max-width: 980px)
{
	.icone_titre
	{
		padding: 10px 20px 0 20px;
	}

	#hebergements_titre
	{
		padding: 30px 0 0 30px;
	}

	.container_activites
	{
		display: flex;
		flex-wrap: wrap;
	}

	.carte_activites
	{
		width: 100%;
		padding: 0;
	}

	.carte_activites_2
	{
		width: 100%;
		padding: 40px 0 0 0;
	}

	#a_propos
	{
		display: flex;
		width: 40%;
		flex-direction: column; 
	}

	#nos_hebergements
	{
		display: flex;
		width: 35%;
		flex-direction: column;
	}

	#assistance
	{
		display: flex;
		width: 26%;
		flex-direction: column;
	}

	.hebergements_info i
	{
		padding-top: 20px;
	}
}

@media (max-width: 711px)
{
	
	.carte_hotel
	{
		margin: 2%;
	}

	.hebergements_populaires
	{
		margin: 5%;
	}

	.container
	{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%%;
		outline: none;
		padding: 0 0 20px 0;
	}

	.filtre_titre
	{
		padding: 5px 10px 0 0;
		align-self: baseline;
		width: 100%;
		padding: 0 0 10px 0;
	}

	.container_filtre
	{
		display: flex;
		justify-content: center;
		align-content: center;
		border: 2px solid #F2F2F2;
		border-radius: 30px;
		margin: 0 20px 10px 0;
		transition: .2s;
	}

	.container_footer
	{
		flex-wrap: wrap;
	}

	#a_propos
	{
		width: 100%;
		height: 150px;
	}

	#nos_hebergements
	{
		width: 100%;
		height: 120px;
	}

	#assistance
	{
		width: 100%;
		height: 110px;
	}
}

@media (max-width: 622px)
{

	header
	{
		padding: 0;
	}

	#menu
	{
		display: flex;
		flex-wrap: wrap-reverse;
		width: 100%;
	}

	.logo_reservia
	{
		display: none;
	}

	.logo_reservia_responsive
	{
		display: block;
		padding: 20px;	
	}

	#inscrire
	{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.ancres
	{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.hebergements_menu
	{
		width: 50%;
		display: flex;
		justify-content: center;
	}

	.activites_menu
	{
		width: 50%;
		display: flex;
		justify-content: center;
	}

	a.lien_menu:hover, a.lien_menu:active
	{
		border-bottom: 2px solid #0065FC;
		border-top: hidden;
	}

	a.lien_menu
	{
		display: flex;
		justify-content: center;
		width: 100%;
		border-bottom: 3px solid #F2F2F2;
	}

	.hebergements_populaires
	{
		margin: 2%;
	}

	.container
	{
		padding: 20px 0 20px 0;
	}

	.choix
	{
		padding: 10px 0 10px 0;
	}

	.container_recherche
	{
		width: 100%;
		border: 2px solid #F2F2F2;
		padding: 0;
		border-radius: 12px;
		outline: none;
	}

	input
	{
		width: 100%;
		border: none;
	}

	.bouton_recherche
	{
		border-radius: 10px;
		align-self: center;
		width: 50px;
		height: 48px; 
	}

	.icon_loupe
	{

		display: block;
	}

	.bouton_recherche span
	{
		display: none;
	}

	#liste_hebergements
	{
		padding: 0;
	}

	#liste_populaires
	{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.container_populaires
	{
		flex-wrap: wrap;
	}

	.icone_titre
	{
		display: flex;
		margin: 20px;
		padding: 10px 5px 0 5px;
		justify-content: space-between;
	}

	.contenu_populaires
	{
		display: flex;
		width: 100%;
		margin: 20px;
		padding: 3px;
		border-radius: 20px;
		background-color: white;
	}

	.container_hebergements
	{
		padding: 0 0 20px 0;
	}

	.hebergements_populaires i
	{
		padding-top: 35%;
	}

	.hebergements_populaires br
	{
		display: initial;
		justify-content: flex-end;
	}

	.image_populaire
	{
		width: 30%;
		height: 150px;
		background-size: cover;
		background-position: center;
		margin: 0 10px 0 0;
		border-radius: 20px 0 0 20px;
	}

	.hebergements_info i
	{
		padding: 10px 0 0 0;
	}

	.hebergements
	{
		background-color: white;
	}

	.carte_hotel
	{
		width: 100%;
		margin: 20px;
	}

	.afficher_plus
	{
		align-items: start;
		width: 35%;
		background-color: white;
		padding: 0 0 0 20px;
		margin: 0;
	}

	.carte_activites
	{
		flex-wrap: wrap;
	}

	.activites_port
	{
		width: 100%;
		margin: 0 0 40px 0; 
	}

	.vieux_port
	{
		height: 170px;
	}

	.ensemble_activites
	{
		width: 100%
	}

	.frioul
	{
		height: 170px;
	}

	.carte_activites_2
	{
		flex-wrap: wrap;
	}

	.activites_calanques
	{
		width: 100%;
		margin: 0 0 40px 0; 
	}

	.calanques
	{
		height: 170px;
	}

}

@media (max-width: 500px)
{
	.icone_info
	{
		align-self: start;
		height: 10px;
	}
}