@font-face
{	/*nouvelle police nommée Relaway*/
	font-family: 'Raleway';
	src:url('polices/Raleway-VariableFont_wght.ttf')
}

*
{
	padding: 0;
	margin: 0;
}

body
{
	padding: 10px; 
}

h1, h2, h3, h4, p, button
{
	font-family: 'Raleway';
}

ul
{
	list-style: none;
}

header
{
	font-family: 'Raleway';
	display: flex;
	justify-content: space-between;
}
/* menu navigation */
.menu
{
	display: flex;
}

.menu li
{
	margin: 30px;
}
/* lien du menu de navigation */
a.lien_menu:visited, a.lien_menu:link
{
	text-decoration: none;

}

a.lien_menu:hover, a.lien_menu:active
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}

.container_recherche
{
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 70%;
}

input
{
	border: 2px solid #F2F2F2;
	outline: none;
	padding-left: 20px;
}
/* icone map*/
.icone_recherche
{
	border: 1px solid #F2F2F2;
	border-width: 10px;
	border-height: 10px;   
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: black;
}
/* bouton recherche */
.bouton_recherche
{
	border:none;
	outline: none;
	align-items: center;
	background-color: #0065FC;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	width: 10%;
}

.bouton_recherche:hover
{
	background-color: blue;
}

.bouton_recherche:active
{
	background-color: #0065FC; 
}
/* container des filtres */
.container
{
	display: flex;
	align-items: center;
	outline: none;
	border: 1px solid none;
	padding-bottom: 20px;
}
.container_filtre
{
	display: flex;
	justify-content: center;
	align-content: center;
	border: 2px solid #F2F2F2;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin: 10px;
	padding: auto;
}
.icone_filtre
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	color: #0065FC;
	background-color: #DEEBFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;	
}

.bouton_filtre
{
	background-color: white;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border:none;
	outline: none;
	font-weight: bold;
}

.bouton_filtre:hover
{
	background-color: #0065FC;
}

.bouton_filtre:active
{
	background-color: #DEEBFF;
	color: black;
}

/* icone info reste de logements */
.container_info
{
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	width: 70%
}

.icone_info
{
	display: flex;
	border: 1px solid #F2F2F2;
	color: #0065FC;
	border-radius: 50%;
	width: 10px;
	padding: 3px;
	align-content: center;
	justify-content: center;
}

/* hebergements à marseille */
#liste_hebergements
{
	display: flex;
}

.hebergements
{
	width: 60%;
	padding: 20px;
	border: 1px solid blue;
	background-color: #F2F2F2;
	border-radius: 10px; 
}

#hebergements_titre
{
	padding-left: 10px; 
}

.container_hebergements
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.carte_hotel
{
	
	width: 30%;
	border: 1px solid #F2F2F2;
	border-width: 1px;
	padding: 3px;
	margin-top: 10px;
	margin-bottom: 10px; 
	border-top-left-radius: 1.1em;
	border-top-right-radius: 1.1em;
	border-bottom-right-radius: 1.1em;
	border-bottom-left-radius: 1.1em;
	background-color: white; 
}

.hebergements_cannebiere
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_port
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_mouettes
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_mer
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_panier
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_amina
{
	width: 100%;
	height: 150px;
	background-position: center;
	background-size: cover;
	background-image: url('../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
	border: 1px solid white;
	border-top-right-radius: 1.1em; 
	border-top-left-radius: 1.1em;
}

.hebergements_info
{
	padding: 10px;
}

.fas
{
	color: #0065FC;
}

.fa
{
	color: #F2F2F2;
}

.afficher_plus
{
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	border: none;
	outline: none;  
}

.afficher_plus:hover
{
	background-color: #0065FC;
}

.afficher_plus:active
{
	background-color: #DEEBFF;
	color: black;
}

#liste_populaires
{
	display: flex;
	width: 40%;
}

.plus_populaires
{
	width: 100%;
	padding: 20px;
	border: 1px solid red;
	background-color: #F2F2F2;
	border-radius: 10px;
}

.entete
{
	display: flex;
	justify-content: space-between;
}

.matin_populaires
{
	width: 40%;
	height: 100px;
	background-size: cover;
	background-position: center;
	background-image: url('../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
	border: 1px solid white;
	border-top-left-radius: 1.1em; 
	border-bottom-left-radius: 1.1em;
}

.hotes_populaires
{
	width: 40%;
	height: 100px;
	background-size: cover;
	background-position: center;
	background-image: url('../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
	border: 1px solid white;
	border-top-left-radius: 1.1em; 
	border-bottom-left-radius: 1.1em;
}

.blanc_populaires
{
	width: 40%;
	height: 100px;
	background-size: cover;
	background-position: center;
	background-image: url('../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
	border: 1px solid white;
	border-top-left-radius: 1.1em; 
	border-bottom-left-radius: 1.1em;
}

.container_activites
{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: 1px solid orange;
	align-items: center;
}

.carte_activites
{
	display: flex;
	border: 1px solid blue;
	width: 30%;
	flex-wrap: wrap;
}

.container_activites img
{
	border: 1px solid white;
	height: 6em;
	width: 100%;
	border-top-left-radius: 1.1em; 
	border-top-right-radius: 1.1em;
}

footer
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;	
}

footer div ul li
{
	padding: 5px;
	margin: 5px;
}
/* lien bas de page */
a.foot:visited, a.foot:link
{
	text-decoration: none;
	color: black;
}
/* survol de la souris sur le lien */
a.foot:hover, a.foot:active
{
	color: #0065FC;
}
